version: "3.8"

services:

  backend:
    # https://docs.docker.com/compose/compose-file/#build
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    volumes:
      - ./data:/data
      - ./access_token.secret:/access_token.secret
      - ./api_key.secret:/api_key.secret
    ports:
      - 5000:5000
  
  user-interface:
    build: ./upwork-downloader-ui
    ports:
      - 3000:3000
    command: npm start
    # command: npm run build
    # environment:
    #   EXAMPLE_ENV_VAR: test
